table, td, th {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 1px solid gray;
    border-collapse: collapse;
}


h1, h2 {
    text-align: center;
}


.html-tag {
    font-family: monospace;
    background-color: blanchedalmond;
}

th {
    background-color: rgb(0, 204, 255);
}

body {
    background-color: aliceblue;
    font-family: Helvetica;
}